@model StudentEnrollment.Models.Course


<h1>Details</h1>

<h2>Course Name: @Model.Name</h2>

<h3>Course Level: @Model.Level</h3>

<h3>Course Category: @Model.Category</h3>

<h3>Current Students Enrolled:</h3>

<p><a asp-controller="Home" asp-action="Index">Return Home</a></p>