@using StudentEnrollment.Models
@model StudentEnrollment.Models.Course


<table>
	<tr>
		<td>Details</td>

		<td>Course Name: @Model.Name</td>

		<td>Course Level: @Model.Level</td>

		<td>Course Category: @Model.Category</td>
	</tr>
</table>

<p><a asp-controller="Home" asp-action="Index">Return Home</a></p>