@using StudentEnrollment.Models
@model StudentEnrollment.Models.Course

<h1>Update Course</h1>

<form asp-action="Update">

	<label asp-for="Name">Course Name: </label>
	<input asp-for="Name" />


	<label asp-for="Level">Course Level:</label>
	<select asp-for="Level" asp-items="Html.GetEnumSelectList<Level>()"></select>

	<label asp-for="Category">Course Category:</label>
	<select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()"></select>

	<input type="submit" value="Update" />
</form>