@model StudentEnrollment.Models.Student


<h1>Student Details</h1>

<table>
	<tr>
		<td>Student Name: @Model.Name</td>

		<td>Student Spy Alias: @Model.SpyAlias</td>

		<td>Current Course Enrolled</td>
	</tr>
</table>
<p><a asp-controller="Home" asp-action="Index">Return Home</a></p>