@model StudentEnrollment.Models.Student


<h1>Student Details</h1>

<h2>Student Name: @Model.Name</h2>

<h3>Student Spy Alias: @Model.SpyAlias</h3>

<h3>Current Course Enrolled</h3>

<p><a asp-controller="Home" asp-action="Index">Return Home</a></p>