<h1>Welcome to Professor Xavier's</h1>
<h2>School for Gifted Spies</h2>

<h3>Administrator Portal</h3>

<p>What would you like to do?</p>

<p><a asp-controller="Student" asp-action="Create">Enroll a new spy</a></p>
<p><a asp-controller="Student" asp-action="ViewAll">View all spies</a></p>

<p><a asp-controller="Course" asp-action="Create">Create a new course</a></p>
<p><a asp-controller="Course" asp-action="ViewAll">View all courses</a></p>
